body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#container {
  width: 400px;
  border: 1px dotted #000;
  padding: 10px;
  height: 328px;
}

#chatBox {
  border: 1px solid #000;
  width: 400px;
  height: 300px;
  margin-bottom: 5px;
}

#chat li{
  padding: 5px;
}

#name{
  width: 78px;
}

#msg{
  width: 256px;
}

table, td{
  text-align: center;
  border-collapse: collapse;
  border: 2px solid #000000;
  padding: 7px;
}

table, tr{
  width: 100%;
  border: 2px solid #000000;
}

table{
  font-size: 16px;
}

thead{
  font-size: 20px;
  font-weight: bold
}